*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.clear{
    clear: both;
}

.text-white{
    color: #fff !important;
}
/* Trong CSS, clear: both; được sử dụng để xóa bỏ hiệu ứng của các phần tử float bên trái hoặc bên phải. Khi một phần tử có thuộc tính float được sử dụng, 
nó sẽ trôi lềnh bềnh và làm cho các phần tử khác trên cùng một dòng không xuất hiện đúng vị trí như mong muốn. Để giải quyết vấn đề này, thuộc tính clear: both; 
được sử dụng để yêu cầu các phần tử tiếp theo không được phép nằm bên cạnh các phần tử float. Khi sử dụng clear: both;, phần tử sẽ được đặt vào dòng mới và không 
có phần tử float nào được phép nằm bên cạnh nó.*/
@font-face {
    font-family: "Lato";
    src:url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
   }
html{
    font-family: "Lato", sans-serif;
}

#header{
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 1;
}

#nav{
    display: inline-block;
}
#nav .subnav{
    list-style-type: none;
}
#nav > li{
    display: inline-block;
}
#nav li {
    
    position: relative;
    
}

#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a,
#nav .subnav li:hover{
    background-color: #ccc;
    color: #000;
}
#nav > li > a{
    text-transform: uppercase;
    color: #fff;
}
#nav li a{
    text-decoration: none;
    
    line-height: 46px;
    padding: 0 24px;

    display: block;
    font-size: 15px;
    
}

#nav .subnav{
    display: none;
    position: absolute;
    background-color: #fff;
    color: #000;
    top: 100%;
    left: 0;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);

}
#nav .subnav a{
    padding: 0 12px;
    min-width: 160px;
    line-height: 38px;
}

#nav .subnav a{
    color: #000;
}

#nav .nav-arrow-down{
    font-size: 15px;
}

#header .search-btn{
    float: right;
    line-height: 46px;
    padding: 0 23px;
    
}

#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#slider{
    margin-top: 46px;
    padding-top: 50%; /* 50% chiều ngang của chính nó */
    background-image: url('../img/bigbang.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}
#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;

    /* left: 0;
    right: 0;
    text-align: center; */
    
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    animation: chuchay 8s linear infinite;
    
}
@keyframes chuchay {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(100%);
    }
  }
#slider .text-heading{
    font-weight: 400;
    font-size: 24px;
}
#slider .text-description{
    margin-top: 25px;
    font-weight: 700;
    font-size: 15px;
}

#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}
#content .section-heading{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    text-align: center;
    animation: chuchay1 3s infinite ;
}
/* Chữ nhấp nháy */
@keyframes chuchay1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.5;
    margin-top: 25px;
}

#content .about-text{
    margin-top: 15px;
    text-align: justify;
    line-height: 1.5;
}
#content .member-lists{
    margin-top: 48px;
    
}
#content .member-item{
    width: calc(100%/3);
    float: left;
    text-align: center;
}
#content .member-name{
    font-size: 15px;
    animation: chuchay1 3s infinite;
}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    height: 154px;
    margin-bottom: 15px; /* làm thêm */
    border-radius: 4px;
    
}

/* Tour section */
.tour-section{
    background-color: #000;
}
.tour-section .tickets-list{
    background-color: #fff;
    margin-top: 40px;
}

.tour-section .tickets-list li{
    font-size: 15px;
    padding: 11px 16px;
    color: #757575;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    /* transition: border-bottom 0.5s ease-in-out; */
}

/* .tour-section .tickets-list li:hover {
  border-bottom: 1px solid #000;
} */
.tour-section .tickets-list .sold-out{
    margin-left: 16px;
    padding: 2px 8px;
    color: #fff;
    background-color: #f44336;

    animation: colorChange 5s infinite;
}
/* Đổi màu cho thẻ Soldout */
@keyframes colorChange {
    0% { 
        background-color: #f44336; 
    }
    50% { 
        background-color: #c62828; 
    }
    100% { 
        background-color: #f44336; 
    }
  }
.tour-section .tickets-list .quantity{
    float: right;
    height: 24px;
    width: 24px;
    background-color: #000;
    font-size: 15px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;

    margin-right: 16px;
    margin-top: -3px;

    animation: bounce 0.3s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}